<div class="container">

    <!-- Form -->
    <form action="">
        <div>
            <label for="">User name:</label>
            <input type="text">
        </div>

        <div>
            <label for="">Second name:</label>
            <input type="text">
        </div>

        <div>
            <label for="">Checkbox</label>
            <input type="checkbox">
        </div>

        <div>
            <label for="">Radio</label>
            <input type="radio">
        </div>

        <div>
            <label for="">Textarea</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </div>

    </form>
    <!-- form -->

</div>
<!-- container -->