<div class="container">

    <div class="cards">
        <h2>Cards row (3 columns)</h2>
        <ul class="cards__row">
            <li class="cards__column">
                <div class="cards__item">
                    <div class="cards__image">
                        <img src="../img/images/section/cards/1300x200.jpg" alt="">
                    </div>
                    <div class="cards__body">
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis laborum incidunt dolorum
                            veritatis.
                            Nostrum ab minima delectus officiis numquam repudiandae.</p>
                    </div>
                </div>
            </li>
            <li class="cards__column">
                <div class="cards__item">
                    <div class="cards__image">
                        <img src="../img/images/section/cards/400x600.jpg" alt="">
                    </div>
                    <div class="cards__body">
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis laborum incidunt dolorum
                            veritatis.
                            Nostrum ab minima delectus officiis numquam repudiandae.</p>
                    </div>
                </div>
            </li>
            <li class="cards__column">
                <div class="cards__item">
                    <div class="cards__image">
                        <img src="../img/images/section/cards/800x400.jpg" alt="">
                    </div>
                    <div class="cards__body">
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis laborum incidunt dolorum
                            veritatis.
                            Nostrum ab minima delectus officiis numquam repudiandae.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>


    <div class="items">
        <h2>Cards in column</h2>
        <div class="items__item">
            <div class="items__image">
                <img src="../img/images/section/cards/1300x200.jpg" alt="">
            </div>
            <div class="items__body">
                <h3 class="items__title">Title 1</h3>
                <p class="items__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, aut.
                </p>
            </div>
        </div>
        <div class="items__item">
            <div class="items__image">
                <img src="../img/images/section/cards/400x600.jpg" alt="">
            </div>
            <div class="items__body">
                <h3 class="items__title">Title 2</h3>
                <p class="items__text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas et quia ipsum dignissimos
                    eligendi non voluptatum laudantium fugiat laboriosam totam.
                </p>
            </div>
        </div>
        <div class="items__item">
            <div class="items__image">
                <img src="../img/images/section/cards/800x400.jpg" alt="">
            </div>
            <div class="items__body">
                <h3 class="items__title">Title 3</h3>
                <p class="items__text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium doloremque consectetur facilis
                    quod. Assumenda.
                </p>
            </div>
        </div>
    </div>

    <div class="text">
        <h3>In text</h3>
        <div class="text__img">
            <picture>
                <source srcset="../img/images/section/cards/1300x400.jpg" type="image/jpeg" media="(min-width:1330px)">
                <source srcset="../img/images/section/cards/800x400.jpg" type="image/jpeg" media="(min-width:992px)">
                <source srcset="../img/images/section/cards/400x600.jpg" type="image/jpeg" media="(max-width:992px)">
                <!-- <img src="../img/images/section/cards/1300x200.jpg" alt=""> -->
            </picture>
        </div>

    </div>
</div>