.advantages {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    // max-width: 1440px;
    width: 100%;
    padding-bottom: 200px;
    // margin: 157px auto 0 auto;
    // background-image: url(../img/images/advantages/advantages-bg.png);
    // background-repeat: no-repeat;
    // background-size: contain;
    // background-position: right center;

    .wrapper {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;
        max-width: 1440px;
        width: 100%;
        margin: 157px auto 0 auto;
        background-image: url(../img/images/advantages/advantages-bg.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right center;
        margin-bottom: 75px;
    }

    .inner-wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: white;
        width: 100%;
        max-width: 638px;
        padding-right: 50px;
        padding-top: 50px;
    }


    .section {

        // .section__title

        &__title {
            text-align: start;
            margin-bottom: 16px;
        }

        // .section__subtitle

        &__subtitle {
            margin-bottom: 35px;
            text-align: start;
            max-width: 541px;
        }

        // .section__list

        &__list {
            flex-wrap: wrap;
            gap: 59px 89px;
            max-width: 557px;

            &-item {
                width: 100%;
                align-items: flex-start;
                max-width: 234px;

                svg {
                    max-width: 63px;
                    margin-bottom: 24px;
                }

                &:not(:last-child) {
                    margin-right: 0;
                }
            }
        }

        // .section__list-item
    }

    .item-title {
        font-size: 22px;
        line-height: 1.27;
        color: $colorTitle;
        margin-bottom: 14px;
    }

    .item-descr {
        font-weight: 400;
        font-size: 14px;
        line-height: 2.14;
        color: $colorText;
        text-align: start;
    }

    .buttons-wrapper {
        width: 100%;
        max-width: 1190px;
        justify-content: center;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

@media (min-width: 993px) {
    .advantages {
        &__wrapper {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            // min-height: 710px;
            max-width: 992px;

            img {
                object-fit: contain;
                width: 28%;
            }
        }
    }
}

@media (max-width: $breakpoint1024) {
    .advantages {
        padding-bottom: 150px;

        .wrapper {
            margin: 100px auto 0 auto;
        }

        &__wrapper {
            max-width: 838px;
        }

        .section {
            &__list {
                gap: 50px;
            }
        }
    }
}

@media (max-width: $breakpoint992) {

    .advantages {
        padding-bottom: 100px;
        .wrapper {
            background-image: none;
            margin: 30px auto 0 auto;
        }

        .inner-wrapper {
            padding-right: 0;
            max-width: 100%;
        }

        .section {
            &__title {
                text-align: center;
            }

            &__subtitle {
                text-align: center;
                max-width: 100%;
            }

            &__list {
                max-width: 100%;
                gap: 50px;
                flex-direction: row;
                justify-content: space-around;
            }

        }

        &__wrapper {
            display: flex;
            justify-content: center;
            flex-direction: column;
            max-width: 100%;

            img {
                display: none;
            }
        }
    }
}

@media (max-width: $breakpoint768) {
    .advantages {
        .wrapper {
            padding-bottom: 12px;
        }

        .section {
            &__list {
                &-item {
                    &:not(:last-child) {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }


}

@media (max-width: $breakpoint576) {
    .advantages {
        padding-bottom: 70px;
        .section {
            &__list {
                &-item {
                    max-width: 100%;
                    align-items: center;
                }
            }
        }
    }
}