// Footer

.footer {

    // .footer__column

    &__column {
        padding: 100px 0;
        display: flex;
        flex-wrap: wrap;

        justify-content: space-between;

        &:not(:nth-child(2n)) {
            margin-right: auto;
        }

        &.first-column {
            width: 49%;
        }

        &.second-column {
            flex-direction: column;
            justify-content: flex-start;
            width: 44%;
        }

        nav {
            // margin-bottom: 39px;

            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }

    // .footer__title

    &__title {
        font-weight: 400;
        font-size: 20px;
        line-height: 1.1;
        color: $colorTitle;
        margin-bottom: 39px;
    }

    // .footer__list

    &__list {
        max-height: 225px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    // .footer__item

    &__item {
        margin-bottom: 17px;
        margin-right: 47px;

        a {
            font-weight: 400;
            font-size: 18px;
            line-height: 1.11;
            color: $colorText;
        }

    }

    // .footer__locations

    &__locations {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    // .footer__locations-item

    &__locations-item {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 238px;
        justify-content: flex-start;
        margin-bottom: 13px;

        svg {
            margin-right: 14px;
            border-radius: 26px;
        }

        &:not(:nth-child(2n)) {
            // margin-right: 43px;
        }
    }

    // .footer__location-name

    &__location-name {
        font-weight: 400;
        font-size: 18px;
        line-height: 1.33;
        color: $colorTitle;
    }

    // .container

    .container {
        display: flex;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            bottom: 0;
            height: 1px;
            background-color: #CACACA;
            ;
        }
    }

    // .list-wrapper

    .list-wrapper {
        &:not(:nth-child(2n)) {
            // margin-right: 164px;
        }
    }

    // .copyright

    .copyright {
        padding: 30px 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;

        p {
            font-weight: 400;
            font-size: 18px;
            line-height: 1.67;
            text-align: center;
            color: $colorText;
            margin-right: 14px;
        }

        a {
            font-weight: 400;
            font-size: 18px;
            line-height: 1.67;
            text-align: center;
            color: $colorBtn;
            margin-right: 14px;
        }
    }
}


@media (max-width: $breakpoint768) {
    .footer {
        .container {
            flex-wrap: wrap;

            &:not(:last-child) {
                padding-bottom: 20px;
            }
        }

        &__column {
            padding: 40px 0 0 0;

            &.first-column {
                width: 100%;
                max-width: 510px;
            }

            &.second-column {
                width: 100%;
                max-width: 510px;
            }
        }
    }
}