* {
    font-family: 'Roboto', sans-serif;
}

// Container
.container {
    max-width: ($containerWidth + $containerPadding) + px;
    width: 100%;
    margin: 0 auto;
    padding: 0 $containerSidePadding + px;

    // @media (max-width: $breakpoint1450) {
    //     // max-width: 1200px;
    // }

    @media (max-width: $breakpoint1280) {
        // max-width: 97%;
    }

    @media (max-width: $breakpoint992) {
        max-width: 970px;
    }

    @media (max-width: $breakpoint768) {
        max-width: 740px;
    }

    @media (max-width: $breakpoint480) {
        max-width: none;
    }
}

// Body Locked
body {
    &.locked {
        overflow: hidden;
    }
}

img {
    object-fit: cover;
    flex-shrink: 0;
    // чтобы изображения не ужимались
}

section {
    // padding: 50px 0;
}

h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 1.16;
    color: $colorTitle;
    margin-bottom: 16px;
}

.section__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 1.23;
    text-align: center;
    color: $colorTitle;
    margin-bottom: 22px;
}

.section__overtitle {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 1.08px;
    text-transform: uppercase;
    color: $colorBtn;
    margin-bottom: 7px;

}
.section__subtitle {
    font-weight: 400;
    font-size: 12px;
    line-height: 2.5;
    text-align: center;
    color: $colorText;
    margin-bottom: 108px;

}

.buttons-wrapper {
    display: flex;
    position: relative;
    padding-bottom: 60px;
    margin-bottom: 60px;

    .btn:not(:last-child) {
        margin-right: 27px;
    }

    &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        background: #CACACA;
        content: "";
        height: 1px;
        width: 100%;
        background: #CACACA;
    }
}

.btn {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.125;
    text-align: center;
    // padding: 28px 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    padding: 26px 39px;

    &__main {
        color: #fff;
        background: $colorBtn;
        border: 1px solid $colorBtn;
    }

    &__secondary {
        color: $colorTitle;
        background: #FFFFFF;
        border: 1px solid #EDEDED;
        box-shadow: 0px 2px 6px rgba(16, 16, 16, 0.04);
    }
}



// Animations
// Fade
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: $breakpoint1280) {
    h1 {
        font-size: 40px;
    }

    .btn {
        padding: 20px 30px;
    }

    .section__subtitle {
        margin-bottom: 80px;

    }

    .buttons-wrapper {
        padding-bottom: 40px;
        margin-bottom: 18px
    }

}

@media (max-width: $breakpoint1024) {
    h1 {
        font-size: 32px;
    }

    .btn {
        padding: 13px 22px;
    }

    .section__overtitle {
        font-size: 16px;
    }

    .section__title {
        font-size: 32px;
    }

}

@media (max-width: $breakpoint992) {

    h1 {
        text-align: center;
    }
}

@media (max-width: $breakpoint768) {

    .section__subtitle {
        margin-bottom: 40px;
    }

}

@media (max-width: $breakpoint576) {
    h1 {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .btn {
        font-size: 13px;
    }
}

@media (max-width: $breakpoint480) {

    h1 {
        max-width: 220px;
    }

    .btn {
        font-size: 12px;
        padding: 13px 15px;
    }

}