// Header

.header {
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-height: 851px;

    .buttons-wrapper {
        &::after {
            position: absolute;
            bottom: 0;
            left: 0;
            background: #CACACA;
            content: "";
            height: 1px;
            width: 100%;
            background: #CACACA;
        }
    }


    .btn__header {
        .btn {
            padding: 19px 27px;
        }

        &:not(:last-child) {
            margin-right: 18px;
        }

    }

    &__offer {
        display: flex;
        align-items: center;
        height: 100%;
        max-width: 1440px;
        width: 100%;
        margin: 0 auto;
        background-image: url(../img/images/header/header-bg.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: right center;

        .container {
            height: 100%;
        }

        &-info {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: white;
            width: 100%;
            max-width: 638px;
            padding-right: 50px;
        }

        &-stats {
            display: flex;
            justify-content: space-between;
            width: 100%;

            .stat-info {
                span {
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 1.11;
                    color: $colorText;
                }

                p {
                    display: inline-block;
                    font-weight: 700;
                    font-size: 56px;
                    line-height: 1.18;
                    color: $colorTitle;
                    margin-bottom: 7px;

                    & ~ span {
                        font-weight: 700;
                        font-size: 56px;
                        line-height: 1.18;
                        color: $colorBtn;
                    }
                }


            }
        }

        &-descr {
            color: $colorText;
            margin-bottom: 33px;
            font-weight: 400;
            font-size: 12px;
            line-height: 2.5;
        }


    }


    .overtitle {
        display: inline-block;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.11;
        letter-spacing: 1.08px;
        text-transform: uppercase;
        color: $colorBtn;
        margin-bottom: 28px;
    }

    // .header__offer

    &__offer-info {
        // max-width: 586px;
        // margin-bottom: 51px;



        // .header__offer-descr {
        //     font-weight: 400;
        //     font-size: 18px;
        //     line-height: 1.22;
        //     color: #fff;
        // }

        // .btn {
        //     background: red;
        //     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        //     border-radius: 50px;
        // }
    }
}

.nav {
    background: #FFFFFF;
    box-shadow: 0px 3px 12px rgba(18, 18, 18, 0.06);
    padding: 32px 0;
    position: relative;
    z-index: 1;
}

// First screen


.rights {
    display: flex;
    justify-content: center;

    span {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        color: black;
        background-image: url("../img/lock.svg");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: contain;
        padding-left: 25px;
    }
}


// Navbar
.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;

}

.cart {
    margin-left: 44px;
    margin-right: 38px;

    p {
        color: $colorHeader;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.125;
    }
}

.menu {
    display: flex;
    align-items: center;
    // gap: 20px;
    // gap - отступы у элементов menu__item кроме последнего

    // .menu__item-link
    &__item-link {
        color: $colorHeader;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.125;
    }
}

// header media

@media screen and (min-width: 993px) {

    .menu {

        // .menu__item
        &__item {
            margin-left: 30px;
        }
    }

    .header__offer-wrap {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        min-height: 710px;
        max-width: 992px;

        img {
            object-fit: contain;
            width: 36%;
            height: 81%;
        }

        // background-image: url('../img/images/header/header-offer-img.png');
        // background-repeat: no-repeat;
        // background-position: right center;
        // background-size: contain;
    }
}


@media screen and (max-width: $breakpoint1280) {

    .header {
        min-height: 670px;
    }

    .nav {
        padding: 22px 0;
    }

    .header__offer {
        height: 88vh;

        &-wrap {
            min-height: 610px;
        }

        &-stats {
            .stat-info {
                p {
                    font-size: 43px;

                    & ~ span {
                        font-size: 43px;
                    }
                }
            }
        }

        &-info {
            // max-width: 560px;

            span {
                font-size: 33px;
            }

            p {
                font-size: 14px;
            }
        }
    }

}

@media screen and (max-width: $breakpoint1024) {

    .overtitle {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .header {

        .btn__header {
            .btn {
                padding: 13px 22px;
            }

        }

        .overtitle {
            display: inline-block;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.11;
            letter-spacing: 1.08px;
            text-transform: uppercase;
            color: #FF5634;
            margin-bottom: 20px;
        }

        &__offer-stats {
            .stat-info {
                p {
                    font-size: 34px;

                    & ~ span {
                        font-size: 34px;
                    }
                }

                span {
                    font-size: 14px;
                }
            }
        }

        &__offer-wrap {
            min-height: unset;
            max-width: 838px;
        }



    }
}



@media screen and (max-width: $breakpoint992) {
    .container {
        max-width: 720px;
    }

    .header {
        min-height: unset;
        height: 100%;
    }

    .header__offer-wrap {
        display: flex;
        justify-content: center;
        flex-direction: column;
        min-height: unset;
        max-width: 100%;

        img {
            display: none;
        }
    }

    .header__offer-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding-right: 0;
        max-width: 530px;

        p {
            text-align: center;
        }

    }

    .header__offer {
        height: 100%;
        min-height: unset;
        background-image: none;
        padding-top: 30px;
    }
}

@media screen and (max-width: $breakpoint768) {

    .header {
        height: 100%;
    }

    .header__offer {
        padding-bottom: 12px;
    }

}

@media screen and (max-width: $breakpoint576) {

    .header {
        .overtitle {
            font-size: 14px;
        }
    }

    .header__offer {
        padding-bottom: 0;

        &-stats {
            .stat-info {
                p {
                    font-size: 26px;

                    & ~ span {
                        font-size: 26px;
                    }
                }

                span {
                    font-size: 14px;
                }
            }
        }
    }

    .header__offer-info {
        span {
            font-size: 22px;
        }

    }

    .header__offer-descr {
        margin-bottom: 28px;
        line-height: 1.8;
    }

}

@media screen and (max-width: $breakpoint480) {

    .header__offer {


        &-stats {

            .stat-info {
                display: flex;
                flex-direction: column;
                align-items: center;

                p {
                    font-size: 20px;

                    & ~ span {
                        font-size: 20px;
                    }
                }

                span {
                    font-size: 10px;
                }
            }
        }
    }
}

.burger {
    display: none;
    cursor: pointer;
}

// Burger menu styles
@media screen and (max-width: $burgerBreakpoint) {

    .header {
        .btn__header {

            margin-top: 20px;

            &:not(:last-child) {
                margin-right: 0;
            }

        }
    }


    .logo {
        img {
            width: 85%;
        }

    }

    // .menu
    .menu {
        position: fixed;
        background: white;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        display: none;

        &__item {
            margin-bottom: 25px;
        }

        &__item-link {
            font-size: 20px;
        }

        &.active {
            display: flex;
            left: 0;
            top: 0;
            height: 100vh;
            width: 100vw;
            flex-direction: column;
            pointer-events: all;
            justify-content: center;
            align-items: center;
            z-index: 22;
            animation: fade 0.1s linear;
        }


    }

    .cart {
        margin: 0 auto;

        p {
            font-size: 20px;
        }
    }

    // .burger
    .burger {
        display: block;
        position: relative;
        height: 20px;
        width: 30px;
        z-index: 102;
        cursor: pointer;

        &.active-burger {
            &:before {
                background-color: $burgerActiveColor;
                transform: rotate(45deg);
                transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
                top: 8px;
            }

            &:after {
                background-color: $burgerActiveColor;
                transform: rotate(-45deg);
                bottom: 10px;
                transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
            }

            & span {
                transform: scale(0);
            }
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            height: 2px;
            width: 100%;
            background-color: $burgerColor;
            transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        }

        &:before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        span {
            position: absolute;
            top: 9px;
            right: 0;
            width: 100%;
            background: $burgerColor;
            height: 2px;
            transform: scale(1);
            transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
        }
    }

}