.how-it-works {


    .container {
        position: relative;
        padding-bottom: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;


        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            bottom: 0;
            height: 1px;
            background-color: #CACACA;
            ;
        }
    }



    .buttons-wrapper {
        width: fit-content;
        margin: 0 auto;
        padding-bottom: 0;

        &::after {
            display: none;
        }
    }

    .section__list-item {
        svg {
            margin-bottom: 31px;
        }
    }

    .section__title,
    .section__undertitle {
        max-width: 520px;
    }

    .section__subtitle {
        max-width: 674px;
    }




}

@media (max-width: $breakpoint1280) {
    .how-it-works {
        .container {
            padding-bottom: 100px;
        }
    }
}

@media (max-width: $breakpoint1024) {


}

@media (max-width: $breakpoint768) {

    .how-it-works {
        .container {
            padding-bottom: 70px;
        }
    }
}