.promo-app {
    background-color: #000;

    // .promo-burger__content

    &__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: black;
        width: 100%;
        max-width: 638px;
        padding-right: 113px;
        padding-top: 185px;
        padding-bottom: 176px;
    }

    .section {

        // .section__title

        &__title {
            color: white;
            text-align: start;
            margin-bottom: 15px;
            font-size: 56px;
            line-height: 1.18;
        }

        // .section__subtitle

        &__subtitle {
            color: white;
            text-align: start;
            margin-bottom: 38px;
            font-size: 12px;
            line-height: 2.5;
        }
    }

    .buttons-wrapper {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .promo-wrapper {

        img {
            object-fit: contain;
            width: 55%;
            height: auto;
        }

    }
}

@media (max-width: $breakpoint1024) {
    .promo-app {
        .promo-wrapper {
            img {
                width: 50%;
            }
        }

        &__content {
            padding-top: 130px;
            padding-bottom: 130px;
        }
    }
}

@media (max-width: $breakpoint992) {

    .promo-app {
        &__content {
            position: relative;
            background-color: transparent;
            z-index: 2;
            padding-right: 0;
            align-items: center;
            padding-top: 100px;
            padding-bottom: 100px;
            margin: 0 auto;
        }

        .section {
            &__title {
                font-size: 40px;
            }
        }

        .promo-wrapper {

            img {
                width: 100%;
                height: 100%;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}

@media (max-width: $breakpoint992) {
    .promo-app {
        .section {
            &__title {
                font-size: 30px;
            }
        }
    }
}