.trusted-by {
    padding-top: 119px;
    margin-bottom: 199px;

    // .trusted-by__title

    &__title {
        font-weight: 400;
        font-size: 20px;
        line-height: 1.1;
        text-align: center;
        color: $colorText;
        margin-bottom: 48px;
    }

    // .trusted-by__list

    &__list {
        display: flex;
        justify-content: space-between;
        padding-bottom: 140px;
    }

    // .trusted-by__item

    &__item {
        width: 20%;

        svg {
            width: 100%;
        }
    }


    .container {
        position: relative;

        &::after {
            position: absolute;
            bottom: 0;
            left: 0;
            content: "";
            background-color: #CACACA;
            height: 1px;
            width: 100%;
        }
    }
}

@media (max-width: $breakpoint1280) {
    .trusted-by {
        padding-top: 60px;
        margin-bottom: 99px;

        &__list {
            padding-bottom: 100px;
        }
    }

}

@media (max-width: $breakpoint768) {

    .trusted-by {
        &__list {
            flex-wrap: wrap;
        }
    }
}

@media (max-width: 576px) {

    .trusted-by {
        margin-bottom: 60px;

        &__list {
            justify-content: space-around;
            padding-bottom: 30px;
        }

        &__item {
            width: 40%;
            margin-bottom: 25px;
        }
    }
}

