// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1150;
// pixels on each side * 2
$containerPadding: 40;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1450: 1449.98 + px;
$breakpoint992: 991.98 + px;
$breakpoint768: 767.98 + px;
$breakpoint480: 479.98 + px;

// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: black;
$burgerActiveColor: #121212;

// Fonts
$fontMain: sans-serif;
$fontSecondary: '';

// Colors
$colorBtn: #FF5634;
// $colorTitle:#1A2578;
$colorText:#656565;
$colorFooter:#0D123C;
$colorHover: #FF5634;
$colorTitle: #121212;
$colorHeader: #121212;

